{{#if user}}
<div class="container-fluid">
	LIST OF ALL STUDENTS AND ATTENDANCE
	<table class = "table">
		<thead>
			<tr>
				<th> Name </th>
				<th> Student Number </th>
				<th> Time Worked (Minutes)</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		{{#each student}}
			<tr>			
				<td>{{this.name}}</td>
				<td>{{this.number}}</td>	
				<td>{{this.time}}</td>
				<td><form action='/view' method="post">
					<input type="hidden" name="number" value={{this.number}}>
					<td><button type="submit">View</button></td>
				</form></td>
				<td><form action='/remove' method="post">
					<input type="hidden" name="number" value={{this.number}}>
					<td><button type="submit">Remove Student</button></td>
				</form></td>
			</tr>
		{{/each}}
	</table>
	<a href='/'>Back</a>
</div>
{{/if}}