<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<h4>{{attendance.0.name}}'s Attendance</h4><br>
			<h4>Total Time Spent Working {{time}} Minutes</h4>
			<h4>Grade: {{score}}</h4>
		</div>
		<div class="col-sm-6">
			<h4>Grade Rubric</h4>
			<table class = "table">
				<thead>
					<tr>
						<th> Grade </th>
						<th> Time Requirement (Minutes) </th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tr>
					<td>O</td>
					<td>{{grade.O}}</td>
				</tr>
				<tr>
					<td>V</td>
					<td>{{grade.V}}</td>
				</tr>
				<tr>
					<td>G</td>
					<td>{{grade.G}}</td>
				</tr>
				<tr>
					<td>S</td>
					<td>{{grade.S}}</td>
				</tr>
				<tr>
					<td>U</td>
					<td>{{grade.U}}</td>
				</tr>
			</table>
		</div>
	</div>
	<table class = "table">
		<thead>
			<tr>
				<th> Date (Year-Month-Day) </th>
				<th> Time in </th>
				<th> Time Out </th>
				<th> Time Worked (Minutes) </th>
			</tr>
		</thead>
		{{#each attendance}}
			<tr>			
				<td>{{this.date}}</td>
				<td>{{this.timein}}</td>	
				<td>{{this.timeout}}</td>
				<td>{{this.time}}</td>
			</tr>
		{{/each}}
	</table>
	<a href='/'>Back</a>
</div>
